<div class="col-md-5 col-sm-5 col-xs-7">

  <% title 'iStarosta - Регистрация' %>

<%= simple_form_for([resource, resource.with_group], as: resource_name, url: registration_path(resource_name), :html => {:class => 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, placeholder: "Your email", required: true, autofocus: true %>
    <%= f.input :name, placeholder: "Your name", required: true %>
    <%= f.simple_fields_for :group do |group| %>
        <%= group.input :name, label: "Group name", placeholder: "Your group name", required: true %>
    <% end %>
    <%= f.input :password, placeholder: "Enter password", required: true, hint: ("#{@minimum_password_length} characters minimum" if @validatable) %>
    <%= f.input :password_confirmation, placeholder: "Enter password confirmation", required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
