<% title "#{@student.name} - Справки" %>

<%= link_to 'Добавить справку', new_student_medical_certificate_path, class: "btn btn-success" %>
<%= link_to 'Назад', student_path(@student), class: "btn btn-default" %>
<br><br>
<table class="table table-responsive">
  <thead>
    <tr>
      <th class="row">#</th>
      <th>С</th>
      <th>По</th>
      <th>Управление</th>
    </tr>
  </thead>
  <tbody>
  <% @medical_certificates.each_with_index do |medical_certificate, index| %>
  <tr>
    <th><%= index+1 %></th>
    <td><%= medical_certificate.from %></td>
    <td><%= medical_certificate.till %></td>
    <td>
      <div class="btn-group" role="group" aria-label="...">
          <%= link_to 'Изменить', edit_student_medical_certificate_path(@student, medical_certificate),
                        class: "btn btn-primary" %>
          <%= link_to 'Удалить', student_medical_certificate_path(@student, medical_certificate),
                        method: :delete, data: { confirm: 'Вы уверены?' },
                        class: "btn btn-danger" %>
      </div>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>



