<div class="col-md-5 col-sm-5 col-xs-10">

<%= simple_form_for @student, html: {class: "form-horizontal"}, wrapper: :horizontal_form do |f| %>

      <%= f.error_notification %>

      <%= f.input :name, placeholder: "Enter student name" %>
    <div class="form-group">
      <%= f.button :submit %>
      <%= link_to 'Back', @student.new_record? ? students_path : student_path, class: "btn btn-default" %>
    </div>
  <% end %>
</div>
