<% title "#{@group.name} - Студенты" %>
<div class="container-fluid">
<%= link_to 'Добавить студента', new_student_path, class: can?(:create, @group.students.build) ? "btn btn-success" : "btn btn-success disabled" %>
</div> <br/>

<table class="table table-responsive">
  <thead>
    <tr>
      <th>#</th>
      <th class="text-center">ФИО</th>
      <th class="text-center">1-й блок</th>
      <th class="text-center">2-й блок</th>
      <th class="text-center">Управление</th>
    </tr>
  </thead>
  <tbody>
  <% @students.each_with_index do |student, index| %>
      <tr>
        <th class="col-sm-1 col-md-1 col-xs-1" scope="row"><%= index+1 %></th>
        <td class="col-sm-3 col-md-3 col-xs-2 text-center"><%= student.name %></td>
        <td class="col-sm-1 col-md-1 col-xs-1 text-center">
          <span class="badge badge-low">
            <!--Сумма соответствующих эл-тов (1-й, 2-й блоки) в массивах пропусков по дисциплинам-->
            <%= student.absences.values.inject(0) { |sum, lesson_absence|
              sum + lesson_absence[:first]} %>
          </span>
        </td>
        <td class="col-sm-1 col-md-1 col-xs-1 text-center">
          <span class="badge badge-low">
            <%= student.absences.values.inject(0) { |sum, lesson_absence|
              sum + lesson_absence[:second]} %>
          </span>
        </td>
        <td class="col-sm-7 col-md-7 col-xs-7 text-center">
          <div class="btn-group" role="group" aria-label="...">
            <%= link_to 'Подробно', student, class: "btn btn-success" %>
            <%= link_to 'Изменить', edit_student_path(student), class: can?(:update, student) ? "btn btn-primary" : "btn btn-primary disabled" %>
            <%= link_to 'Удалить', student, method: :delete,
                      data: { confirm: 'Вы уверены?' },
                      class: can?(:destroy, student) ? "btn btn-danger" : "btn btn-danger disabled" %>
          </div>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>