<% title "#{@group.name} - Студенты" %>
<%= link_to 'Добавить студента', new_student_path, class: "btn btn-success" %>
<br/> <br/>

<table class="table table-responsive">
  <thead>
    <tr>
      <th>#</th>
      <th class="text-center">ФИО</th>
      <th class="text-center">Часов пропусков</th>
      <th class="text-center">Управление</th>
    </tr>
  </thead>
  <tbody>
  <% @students.each_with_index do |student, index| %>
      <tr>
        <th scope="row"><%= index+1 %></th>
        <td class="text-center"><%= student.name %></td>
        <td class="text-center"><span class="badge badge-low"><%= student.absences.sum(:amount) %></span></td>
        <td class="text-center">
          <div class="btn-group" role="group" aria-label="...">
            <%= link_to 'Подробно', student, class: "btn btn-success" %>
            <%= link_to 'Изменить', edit_student_path(student), class: "btn btn-primary" %>
            <%= link_to 'Удалить', student, method: :delete,
                      data: { confirm: 'Вы уверены?' }, class: "btn btn-danger" %>
          </div>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>