<% title "Информация о студенте" %>
<div class="btn-group" role="group" aria-label="...">
  <%= link_to 'Назад', group_students_path(@group), class: "btn btn-default" %>
  <%= link_to 'Изменить', edit_student_path(@student), class: can?(:update, @student) ? "btn btn-primary" : "btn btn-primary disabled" %>
  <%= link_to 'Справки', student_medical_certificates_path(@student), class: can?(:read, MedicalCertificate) ? "btn btn-success" : "btn btn-success disabled" %>
</div>
  <br> <br>
<div class="panel panel-default">
  <div class="panel-heading"><b>Студент</b></div>
    <table class="table table-bordered">
      <tr>
        <th>ФИО</th>
        <td><%= @student.name %></td>
      </tr>
      <tr>
        <th>Группа</th>
        <td><%= @student.group.name %></td>
      </tr>
    </table>

  <div class="panel-footer"><b>Пропуски</b></div>
    <table class="table table-bordered">
      <tr>
        <th>Предмет</th>
        <th>1-й блок</th>
        <th>2-й блок</th>
      </tr>
      <% @student.absences.each do |key, value| %>
        <tr>
          <td> <%= key %> </td>
          <td><%= value[:first]%></td>
          <td><%= value[:second]%></td>
        </tr>
      <% end %>
      <tr>
        <th colspan="2">Отчет</th>
      </tr>
      <tr>
        <td>Всего</td>
        <td>
          <%= first_block=@student.absences.values.inject(0) { |sum, lesson_absence|
                                sum + lesson_absence[:first]} %>
        </td>
        <td>
          <%= second_block=@student.absences.values.inject(0) { |sum, lesson_absence|
                                sum + lesson_absence[:second]} %>
        </td>
      </tr>
      <tr>
        <td>По справкам</td>
        <td><%= @student.leaves[:first] %></td>
        <td><%= @student.leaves[:second] %></td>
      </tr>
      <tr>
        <td>Итого в часах</td>
        <td><%= (first_block - @student.leaves[:first])*2 %></td>
        <td><%= (second_block - @student.leaves[:second])*2 %></td>
      </tr>
    </table>
</div>