<% title @group.name %>

<div class="progress">
  <div class="progress-bar progress-bar-success" style="width: <%= @group.attendance %>%">
    <span class="sr-only"><%= @group.attendance %>%</span>
  </div>
  <div class="progress-bar progress-bar-danger" style="width: <%= 100-@group.attendance %>%">
    <span class="sr-only"><%= 100-@group.attendance %>%</span>
  </div>
</div>

<h4>
  <p><span class="glyphicon glyphicon-education" aria-hidden="true"></span>
  &nbsp;&nbsp;Посещаемость&nbsp;&nbsp;<%= @group.attendance %>%</p>

  <p><span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
    &nbsp;&nbsp;Количество пар&nbsp;&nbsp;<%= @group.total_pairs %></p>

  <p><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
  &nbsp;&nbsp;Студенты&nbsp;&nbsp;<%= @group.students.count %></p>

  <p><span class="glyphicon glyphicon-book" aria-hidden="true"></span>
    &nbsp;&nbsp;Дисциплины&nbsp;&nbsp;<%= @group.lessons.count %></p>

</h4>