<!-- Modal -->
<div class="modal fade" id="Import" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Импорт</h4>
      </div>

      <div class="modal-body">
        <div class="container-fluid">

          <%= button_tag 'Логи',
                         data: {
                                 toggle: 'collapse',
                                 target: '#collapseImportLogs'},
                         aria: {
                                 expanded: 'false',
                                 controls: 'collapseImportLogs'},
                         class: "btn btn-lg btn-block btn-primary" %>

          <div class="collapse" id="collapseImportLogs">
            <% if can?(:import, Log)%>
                <div class="container-fluid well well-sm">
                  <%= form_tag import_logs_path, class: "form-inline", multipart: true do %>
                      <div class="form-group">
                        <%= label_tag :file, 'Импортировать логи' %>
                      </div>
                      <div class="form-group">
                        <%= file_field_tag :file, accept: '.csv'%>
                      </div>
                      <%= submit_tag 'Загрузить', class: 'btn btn-sm btn-default' %>
                  <% end %>
                </div>
            <% end %>
          </div>
          <br/>

          <%= button_tag 'Дисциплины',
                         data: {
                                 toggle: 'collapse',
                                 target: '#collapseImportLessons'},
                         aria: {
                                 expanded: 'false',
                                 controls: 'collapseImportLessons'},
                         class: "btn btn-lg btn-block btn-primary" %>

          <div class="collapse" id="collapseImportLessons">
            <% if can?(:import, Student)%>
                <div class="container-fluid well well-sm">
                  <%= form_tag import_lessons_path, class: "form-inline", multipart: true do %>
                      <div class="form-group">
                        <%= label_tag :file, 'Импортировать дисциплины' %>
                      </div>
                      <div class="form-group">
                        <%= file_field_tag :file, accept: '.csv'%>
                      </div>
                      <%= submit_tag 'Загрузить', class: 'btn btn-sm btn-default' %>
                  <% end %>
                </div>
            <% end %>
          </div>
          <br/>

          <%= button_tag 'Студенты',
                         data: {
                                 toggle: 'collapse',
                                 target: '#collapseImportStudents'},
                         aria: {
                                 expanded: 'false',
                                 controls: 'collapseImportStudents'},
                         class: "btn btn-lg btn-block btn-primary" %>

          <div class="collapse" id="collapseImportStudents">
            <% if can?(:import, Lesson)%>
                <div class="container-fluid well well-sm">
                  <%= form_tag import_students_path, class: "form-inline", multipart: true do %>
                      <div class="form-group">
                        <%= label_tag :file, 'Импортировать студентов' %>
                      </div>
                      <div class="form-group">
                        <%= file_field_tag :file, accept: '.csv'%>
                      </div>
                      <%= submit_tag 'Загрузить', class: 'btn btn-sm btn-primary' %>
                  <% end %>
                </div>
            <% end %>
          </div>

        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>