<% title 'Личный кабинет' %>

<div class="panel panel-primary">

  <div class="panel-heading"><b>Профиль</b></div>

  <table class="table table-bordered">
    <tr>
      <th class="col-xs-6 col-sm-6 col-md-6 col-lg-6">Имя</th>
      <td class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <%= @user.name %>
      </td>
    </tr>
    <tr>
      <th class="col-xs-6 col-sm-6 col-md-6 col-lg-6">Группа</th>
      <td class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <%= @user.group.name %>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <div class="text-center">
          <%= link_to 'Редактировать профиль', edit_user_registration_path, class: 'btn btn-primary' %>
        </div>
      </td>
    </tr>
  </table>

</div>


<br/>
<div class="panel panel-info">
  <div class="panel-heading"><b>Группа</b></div>

  <table class="table table-bordered">
    <tr>
      <td class="col-xs-6 col-sm-6 col-md-6 col-lg-6">Cеместр</td>
      <td class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <%= @user.setting.current_semester %>
      </td>
    </tr>
    <tr>
      <td class="col-xs-6 col-sm-6 col-md-6 col-lg-6">Блок</td>
      <td class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <%= @user.setting.current_block %>
      </td>
    </tr>
    <tr>
      <td class="col-xs-6 col-sm-6 col-md-6 col-lg-6">Конец 1-го / Начало 2-го блока (дата)</td>
      <td class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <%= @user.setting.threshold_date %>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <div class="text-center">
          <%= link_to 'Редактировать настройки группы', edit_group_setting_path, class: 'btn btn-primary' %>
        </div>
      </td>
    </tr>
  </table>
</div>

<br/>
<div class="panel panel-success">
  <div class="panel-heading"><b>Отчеты</b></div>
  <div class="panel-body">
        <%#= form_tag :export, method: :post, format: :xlsx, class: "form-horizontal" do %>

        <!--<div class="form-group">-->
          <!--<div class="input-daterange input-group" id="datepicker">-->
            <!--<span class="input-group-addon">From</span>-->
            <!--<%#= text_field_tag :from, nil, {class: "form-control"} %>-->
            <!--<span class="input-group-addon">to</span>-->
            <!--<%#= text_field_tag :till, Date.today, {class: "form-control"} %>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="form-group">-->
          <!--<%#= submit_tag 'Скачать отчет' ,class: "btn btn-primary" %>-->
        <!--</div>-->

      <%# end %>

    <%= button_tag 'Скачать отчеты', data: {toggle: 'modal', target: '#Report'}, class: "btn btn-block btn-success" %>

  </div>
</div>

<div class="panel panel-warning">
  <div class="panel-heading"><b>Бекап</b></div>
  <div class="panel-body">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <%= button_tag 'Экспорт', data: {toggle: 'modal', target: '#Export'}, class: "btn btn-sm btn-block btn-default" %>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <%= button_tag 'Импорт', data: {toggle: 'modal', target: '#Import'}, class: "btn btn-sm btn-block btn-default" %>
    </div>
  </div>

</div>

<div class="container">
  <%= link_to "Удалить мой аккаунт", registration_path(current_user),
                  data: { confirm: "Вы уверены? Это действие невозможно отменить!" },
                  method: :delete,
                  class: "btn btn-danger"%>
</div>

<%= render "users/modal_report" %>

<%= render "users/modal_import" %>

<%= render "users/modal_export" %>
