<div class="col-md-5 col-sm-5 col-xs-7">
<%= simple_form_for @lesson, html: {class: "form-horizontal"}, wrapper: :horizontal_form do |f| %>

      <%= f.error_notification %>

      <%= f.input :name, placeholder: 'Введите название' %>


      <%= f.input :kind, as: :radio_buttons, :collection => Lesson.kinds.keys %>

    <div class="form-group">
      <%= f.button :submit %>
      <%= link_to 'Назад', lessons_path, class: "btn btn-default" %>
    </div>

<% end %>
</div>