<div class="col-md-5 col-sm-5 col-xs-7">
<%= form_for(@lesson, html: {class: "form-horizontal"}) do |f| %>

    <% if @lesson.errors.any? %>
    <div id="error_explanation">
      <% @lesson.errors.full_messages.each do |message| %>
          <%= content_tag :div, message, class: "alert alert-danger"%>
      <% end %>
    </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control", placeholder: "Enter name", required: true %>
    </div>

    <div class="form-group">
      <%= f.submit class: "btn btn-primary" %>
      <%= link_to 'Back', lessons_path, class: "btn btn-default" %>
    </div>

<% end %>
</div>