<% title "#{@group.name} - Дисциплины" %>

<div class="container-fluid">
  <%= link_to 'Новая дисциплина', new_lesson_path, class: can?(:create, @group.lessons.build) ? "btn btn-success pull-left" : "btn btn-success disabled pull-left" %>
  <div class="dropdown pull-right">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
      Экспорт всех ведомостей
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
      <li role="presentation"><%= link_to 'CSV', lessons_path(format: 'csv'), role: "menuitem", tabindex: "-1" %></li>
      <li role="presentation"><%= link_to 'Excel', export_report_lessons_path(format: 'xlsx'), method: :post, role: "menuitem", tabindex: "-1" %></li>
    </ul>
  </div>
</div>

<br/>

<table class="table">
  <thead>
  <tr>
    <th>#</th>
    <th class="text-center">Название</th>
    <th class="text-center">Управление</th>
  </tr>
  </thead>
  <tbody>
  <% @lessons.each_with_index do |lesson, index| %>
      <tr>
        <th class="col-sm-1 col-md-1 col-xs-1 row"><%= index+1 %></th>
        <th class="col-sm-6 col-md-5 col-xs-5 text-center"><%= link_to lesson.name, lesson_logs_path(lesson.id) %></th>
        <td class="col-sm-5 col-md-6 col-xs-6 text-center">
          <div class="btn-group" role="group" aria-label="...">
            <%= link_to 'Журнал', lesson_logs_path(lesson.id), class: "btn btn-success" %>
            <%= link_to 'Изменить', edit_lesson_path(lesson), class: can?(:update, lesson) ? "btn btn-primary" : "btn btn-primary disabled" %>
            <%= link_to 'Удалить', lesson,
                        method: :delete, data: { confirm: 'Вы уверены?' },
                        class: can?(:destroy, lesson) ? "btn btn-danger" : "btn btn-danger disabled"%>
          </div>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<% if can?(:import, Lesson)%>
<div class="container-fluid well well-sm">
  <%= form_tag import_lessons_path, class: "form-inline", multipart: true do %>
      <div class="form-group">
        <%= label_tag :file, 'Импортировать данные' %>
      </div>
      <div class="form-group">
        <%= file_field_tag :file, accept: '.csv'%>
      </div>
      <%= submit_tag 'Загрузить', class: 'btn btn-sm btn-default' %>
  <% end %>
</div>
<% end %>
