<% title "#{@group.name} - Дисциплины" %>

<div class="container-fluid">
  <%= link_to 'Новая дисциплина', new_lesson_path, class: can?(:create, @group.lessons.build) ? "btn btn-success pull-left" : "btn btn-success disabled pull-left" %>
</div>

<br/>

<table class="table">
  <thead>
  <tr>
    <th>#</th>
    <th class="text-center">Название</th>
    <th class="text-center">Управление</th>
  </tr>
  </thead>
  <tbody>
  <% @lessons.each_with_index do |lesson, index| %>
      <tr>
        <th class="col-sm-1 col-md-1 col-xs-1 row"><%= index+1 %></th>
        <th class="col-sm-6 col-md-5 col-xs-5 text-center"><%= link_to lesson.name, lesson_logs_path(lesson.id) %></th>
        <td class="col-sm-5 col-md-6 col-xs-6 text-center">
          <div class="btn-group" role="group" aria-label="...">
            <%= link_to 'Журнал', lesson_logs_path(lesson.id), class: "btn btn-success" %>
            <%= link_to 'Изменить', edit_lesson_path(lesson), class: can?(:update, lesson) ? "btn btn-primary" : "btn btn-primary disabled" %>
            <%= link_to 'Удалить', lesson,
                        method: :delete, data: { confirm: 'Вы уверены?' },
                        class: can?(:destroy, lesson) ? "btn btn-danger" : "btn btn-danger disabled"%>
          </div>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>


