<% title "#{@group.name} - #{@lesson.name}" %>


<div class="container-fluid">
  <%= link_to 'Добавить', new_lesson_log_path, class: can?(:create, @lesson.logs.build) ? "btn btn-success" : "btn btn-success disabled" %>
  <div class="dropdown pull-right">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
        Экспорт
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
      <li role="presentation"><%= link_to 'CSV', lesson_logs_path(format: 'csv'), role: "menuitem", tabindex: "-1" %></li>
      <!--<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Excel</a></li>-->
    </ul>
  </div>
</div>



<table class="table table-responsive">
  <thead>
    <tr>
      <th scope="row"></th>
      <% @grid.column_headers.each do |column_header| %>
          <th><%= link_to column_header.to_formatted_s(:short), edit_lesson_log_path(params[:lesson_id], column_header) %></th>
      <% end %>
    </tr>
  </thead>
 <tbody>
 <% @grid.rows.each do |row| %>
     <tr>
       <th><%= link_to row.header.name, student_path(row.header) %></th>
       <% row.data.each do |data| leave = false %>
           <td>
             <% if data.flag %>
                 <label class="btn btn-primary">
                   <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                 </label>
             <% else
                  if row.header.medical_certificates.any?
                    row.header.medical_certificates.each do |mc|
                      if data.date.between?(mc.from, mc.till)
                        leave = true
                        break
                      end
                    end
                  end
                  if leave %>
                     <label class="btn btn-success">
                       <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                     </label>
                 <% else %>
                     <label class="btn btn-danger">
                       <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                     </label>
                 <% end %>
             <% end %>
           </td>
       <% end %>
     </tr>
 <%end %>
 </tbody>
</table>

<div class="container-fluid">

<label class="btn btn-primary ">
  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
</label>
- Присутствовал <br/><br/>
<label class="btn btn-danger">
  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
</label>
- Отсутствовал <br/><br/>
<label class="btn btn-success">
  <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
</label>
- Отсутствовал по справке
</div>
<br/>

<% if can?(:import, Lesson)%>
<div class="container-fluid well well-sm">
  <%= form_tag import_lesson_logs_path, class: "form-inline", multipart: true do %>
      <div class="form-group">
        <%= label_tag :file, 'Импортировать данные' %>
      </div>
      <div class="form-group">
        <%= file_field_tag :file, accept: '.csv'%>
      </div>
      <%= submit_tag 'Загрузить', class: 'btn btn-sm btn-default' %>
  <% end %>
</div>
<% end %>
