<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) || "iStarosta" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name=viewport content="width=600">
</head>
<body>

<%= render 'layouts/header' %>

<div class="col-md-8 col-md-offset-2 col-sm-12">

  <% if @group.present? %>
    <%= render 'layouts/nav' %>
  <% end %>

  <div class="page-header">
    <h3><%= yield :title %></h3>
  </div>

  <% flash.each do |name, msg| %>
      <%=   content_tag :div, msg, :class => 'alert alert-danger' if msg.is_a?(String) && name==='alert' %>
      <%=   content_tag :div, msg, :class => 'alert alert-success' if msg.is_a?(String) && name==='notice' %>
  <% end %>

  <%= yield %>

</div>
</body>
</html>
